@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&family=Roboto+Mono:wght@300;400&family=Roboto:wght@100;300;400&display=swap');


* {
    max-width: 1440px;
    margin: 0 auto;
    background-color: transparent;
}


i {
    background-color: transparent;
}
h2 {
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}
@media (max-width: 768px) {
    h2 {
        font-size: 16px;
    }
}



#latest-news {
    color:  black !important;
    font-family:'Inter', sans-serif;
    margin-left: 40px;
    margin-top: 10px;
}
/*header styles*/

li, a, button {
    font-family:'Inter', sans-serif;
    font-weight: 
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: transparent;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 5px 5px; /* top, right, bottom, left */
    background-color: #333333;
}

.logo {
    cursor: pointer;
    margin: 0px;
    background-color: #333333;
    
}
nav ul {
    background-color: #333333;
}
.tickets-button {
    margin: 0px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    transition: all 0.3s ease 0s;
    color: #79e08c ;
}

button {
    padding: 9px 25px;
    background-color: rgba(63, 167, 82, 0.8);
    border:none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

button:hover {
    background-color: rgba(63, 167, 82, 0.5); 
}

.tickets-button {
    padding: 9px 25px;
    background-color: rgba(63, 167, 82, 0.8);
    border:none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.tickets-button:hover {
    background-color: rgba(63, 167, 82, 0.5);
}



@media (max-width: 768px) {
    header {
        flex-direction: column; /* Stack items vertically for smaller screens */
        text-align: center;
        padding: 20px 5%;
    }

    .nav-links {
        margin-top: 0px; /* Add space between logo and navigation links */
        padding: 1px;
    }

    .nav-links li {
        display: block; /* Display navigation links as block elements */
        margin-bottom: 10px; /* Add spacing between navigation links */
    }

    .tickets-button {
        margin-top: 20px; /* Add space between navigation links and button */
    }

    .logo {
        max-width: 80%; /* Adjust the percentage to control logo size, smaller screens */
    }
}





/*header styles end*/

/* Styles for the hero banner */






#explore-exhibits-button {
    padding: 18px 50px;
    background-color: rgba(51, 121, 95, 1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none; /* Remove underline for links */
    color: white; /* Text color for the button */
    font-family: 'Roboto Mono', monospace;
    
}
#explore-exhibits-button:hover {
    background-color:  rgba(63, 167, 82, 0.5); 
}


.hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the banner height to full viewport height for centering */
    background-image: url('assets/banner-main\ v3.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    max-height: 500px;

    }

    
   
/* hero banner, media query for smaller screens */
    @media (max-width: 768px) {
        .hero-banner
        {
        background-size: auto; 
        
        }
    }
    

/* Styles for the hero banner end */

/* Styles for news containers */

.news-containers {
    color: rgb(3, 3, 3);
    
    
}

.news-container {
    background-color: #f4f4f4; /* Background color for the news section */
    padding: 20px; /* Padding around the news content */
    border: 1px solid #ddd; /* Optional: Add a border */
}

/* Style for the news header */
.news-header {
    font-size: 24px; /* Adjust the font size as needed */
    text-align: start; /* Center the header text */
    margin-bottom: 10px; /* Add margin at the bottom of the header */
}




/* Style for the row of cards */
.row {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap onto multiple lines */
    justify-content: space-between;
    padding: 20px;
    
}



/* Style for each column */
.column {
    flex: 1;
    max-width: 30%;
    margin-bottom: 20px; /* Add spacing between columns */
}

/* Style for each card */
.card {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    text-align: center;
}

/* Style for the card image */
.card img {
    max-width: 100%;
    height: auto;
}

/* Style for the card header */
.card h3 {
    font-size: 18px;
    margin-top: 10px;
}
.card {
    box-shadow: 5px 5px 10px rgba(34, 33, 33, 0.5);
}

/* Style for the details section */
.details {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

/* Style for the date */
.date {
    color: #888;
}

/* Style for the "Read More" button */
.read-more {
    background-color: #3A6641;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    
}

/* Style for the icon in the button */
.read-more i {
    margin-left: 5px;
    
}

@media (max-width: 768px) {
    .column {
        max-width: 100%; /* Take up full width on smaller screens */
        padding: 10px
    }
    
}


/*footer styles*/

.footer {
    background-color: #333 !important;
    padding: 20px 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.footer-column {
    flex: 1;
    padding: 0 20px;
    max-width: 25%;
}

.footer-column-name {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    
}

.footer p {
    color: #aaa; 
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}



.fa-instagram, 
.fa-facebook, 
.fa-x-twitter, 
.fa-linkedin-in {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
    color: #aaa;
}

#Logo {
    max-width: 200px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -15px;
}
#trip-advisor-logo {
    padding-top: 15px;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        max-width: 100%;
        padding: 10px 0;
        text-align: center;
    }

    .footer-column-name { 
        margin-top: 10px;
    }

    .fa-instagram, 
    .fa-facebook, 
    .fa-x-twitter, 
    .fa-linkedin-in {
        margin: 0 5px;
    }
}

.sponsors-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    background-color: #504646;
    color: white;
}
.sponsors-container div {
    margin: 0 5px;  /* Provides some spacing between the divs */
}
.sponsors-container img {
    max-width: 200px; /* Or whatever default size you desire */
    height: auto;
    margin: px; /* Spacing between images */}

.sponsors-container div p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
}


   











    






   